<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Anomaly Detection WebApp Results</title>
</head>
<body background="https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/cumulus-cloud.jpg">


<h1>Detection Results:</h1>

<p id="anomaly_list"></p>

<script>
    var obj = {noa : "this is me"};
    document.getElementById("anomaly_list").innerHTML = {noa : "this is me"};
    //console.log(res.amomalies);
    //document.getElementById("anomaly_list").innerHTML = res.amomalies["anomaly number 1"];
</script>


</body>
</html>